NODE_ENV=production

DATABASE_URL=${{Postgres.DATABASE_URL}}
DIRECT_DATABASE_URL=${{Postgres.DATABASE_URL}}
PLATFORM_DATABASE_URL=${{Postgres.DATABASE_URL}}
PLATFORM_DIRECT_DATABASE_URL=${{Postgres.DATABASE_URL}}
TENANT_DATABASE_URL=${{Postgres.DATABASE_URL}}
TENANT_DIRECT_DATABASE_URL=${{Postgres.DATABASE_URL}}

REDIS_URL=${{Redis.REDIS_URL}}

API_ENCRYPTION_KEY=${{API_ENCRYPTION_KEY}}
WORKER_CONCURRENCY=10

