NODE_ENV=production
HOST=0.0.0.0
ENABLE_AUTH=true

PUBLIC_API_BASE_URL=https://api.${{ROOT_DOMAIN}}

DATABASE_URL=${{Postgres.DATABASE_URL}}
DIRECT_DATABASE_URL=${{Postgres.DATABASE_URL}}
PLATFORM_DATABASE_URL=${{Postgres.DATABASE_URL}}
PLATFORM_DIRECT_DATABASE_URL=${{Postgres.DATABASE_URL}}
TENANT_DATABASE_URL=${{Postgres.DATABASE_URL}}
TENANT_DIRECT_DATABASE_URL=${{Postgres.DATABASE_URL}}

REDIS_URL=${{Redis.REDIS_URL}}

